@model StillFood.Models.NotaPedido

@{
    ViewBag.Title = "DetallePedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-9 col-lg-offset-1">
        <div class="col-lg-12 tit-green-md margin-bottom-25px">
            Información del pedido
        </div>
        <Div class="col-lg-12">
            <Strong> Fecha:</Strong> @Model.FechaAlta.ToShortDateString()
        </Div>
        <div class="col-lg-6">
            <Strong>  Nombre y Apellido:</Strong> @Model.Usuario.NombreApellido
        </div>
        <div class="col-lg-6">
            <Strong>  E-mail: </Strong>@Model.Usuario.Email
        </div>
        <div class="col-lg-6">
            <Strong>  Forma de Entrega:</Strong> @StillFood.Common.Utils.ObtenerDescripcionFormaEntrega(Model.IdFormaEntrega)
        </div>
        <div class="col-lg-6">
            @{
                string wDireccion = "-";

                if (Model.IdDireccion.HasValue)
                {
                    wDireccion = StillFood.Common.Utils.ObtenerDescripcionDireccion(Model.IdDireccion);
                }
            }
            <Strong> Dirección: </Strong>@wDireccion
        </div>
        <div class="col-lg-6 margin-bottom-25px">
            <Strong> Forma de Pago: </Strong>@StillFood.Common.Utils.ObtenerDescripcionFormaPago(Model.IdFormaPago)
        </div>
        <div class="col-lg-6 margin-bottom-25px">
            <Strong> Estado: </Strong>@StillFood.Common.Utils.GetEnumDescription((StillFood.Common.Enums.eEstadosNotasPedido)Model.IdEstado)
        </div>
    </div>
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-2 tbl-compra-header">
                Producto
            </div>
            <div class="col-lg-4 tbl-compra-header">
                Descripción
            </div>
            <div class="col-lg-2 tbl-compra-header">
                Precio Unitario
            </div>
            <div class="col-lg-2 tbl-compra-header">
                Cantidad
            </div>
            <div class="col-lg-2 tbl-compra-header">
                Total
            </div>
        </div>
        @{
            var wListaProductos = new List<StillFood.Models.Producto>();
        }
        @foreach (StillFood.Models.NotaPedidoDetalle wDetalle in Model.Detalles)
        {
            wDetalle.Producto.Cantidad = wDetalle.Cantidad;
            wListaProductos.Add(wDetalle.Producto);
            <div class="row">
                <div class="col-lg-2 tbl-compra-item">
                    @if (!string.IsNullOrWhiteSpace(wDetalle.Producto.Imagen))
                    {
                        <img class="tbl-compra-img" src="~/Content/Img/Productos/@wDetalle.Producto.Imagen" alt="">
                    }
                    else
                    {
                        <img class="tbl-compra-img" src="~/Content/Img/Imagen-NoDisponible.gif" alt="">
                    }
                </div>
                <div class="col-lg-4 tbl-compra-item">
                    @wDetalle.Producto.Nombre
                </div>
                <div class="col-lg-2 tbl-compra-item">
                    $@wDetalle.Precio
                </div>
                <div class="col-lg-2 tbl-compra-item">
                    @wDetalle.Cantidad
                </div>
                <div class="col-lg-2 tbl-compra-item">
                    @{
                        var wPrecioTotal = @wDetalle.Cantidad * @wDetalle.Precio;
                    }
                    $@wPrecioTotal
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-8" style="margin-top:10px;">
            </div>
            <div class="col-lg-2 tbl-compra-total">
                Total
            </div>
            <div class="col-lg-2 tbl-compra-total">
                @if(Model.IdFormaEntrega.Equals(Convert.ToInt32(StillFood.Common.Enums.eFormasEntrega.Domicilio)))
                {
                    $@StillFood.Common.Utils.ObtenerMontoTotal(wListaProductos,true).ToString()
                }
                else
                {
                    $@StillFood.Common.Utils.ObtenerMontoTotal(wListaProductos,false).ToString()
                }
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 padding-top">
        @{
            if (Model.IdEstado != Convert.ToInt32(StillFood.Common.Enums.eEstadosNotasPedido.Realizado))
            {
                <div class="col-lg-3">
                    <a class="btn btn-lg px-3 btn-green" href="#" role="button" disabled>Preparar<img src="~/Content/Img/Preparation-Icon.png" height="30" alt="InPrepare"></a>
                </div>
            }
            else
            {
                <div class="col-lg-3">
                    <a class="btn btn-lg px-3 btn-green" onclick="ConfirmaPrepar()">Preparar<img src="~/Content/Img/Preparation-Icon.png" height="30" alt="InPrepare"></a>
                </div>
            }
        }
        @{
            if (Model.IdEstado != Convert.ToInt32(StillFood.Common.Enums.eEstadosNotasPedido.EnPreparacion))
            {
                <div class="col-lg-3">
                    <a class="btn btn-lg px-3 btn-green" href="#" role="button" disabled>Preparado<img src="~/Content/Img/Prepared-Icon.png" height="30" alt="Prepare"></a>
                </div>
            }
            else
            {
                <div class="col-lg-3">
                    <a class="btn btn-lg px-3 btn-green" onclick="ConfirmaPreparado()">Preparado<img src="~/Content/Img/Prepared-Icon.png" height="30" alt="Prepare"></a>
                </div>
            }
        }
        @{
            if (Model.IdEstado != Convert.ToInt32(StillFood.Common.Enums.eEstadosNotasPedido.Praparado))
            {
                <div class="col-lg-3">
                    <button class="btn btn-lg px-3 btn-green" href="#" role="button" disabled>Entregado<img src="~/Content/Img/Delivered-Icon.png" height="30" alt="Delivered"></button>
                </div>
            }
            else
            {
                <div class="col-lg-3">
                    <button class="btn btn-lg px-3 btn-green" onclick="ConfirmaEntregado()">Entregado<img src="~/Content/Img/Delivered-Icon.png" height="30" alt="Delivered"></button>
                </div>
            }
        }
        @{
            if (Model.IdEstado == Convert.ToInt32(StillFood.Common.Enums.eEstadosNotasPedido.Realizado) || Model.IdEstado == Convert.ToInt32(StillFood.Common.Enums.eEstadosNotasPedido.Cancelado))
            {
                <div class="col-lg-3">
                    <button class="btn btn-lg px-3 btn-green" href="#" role="button" disabled>Cancelar<img src="~/Content/Img/CancelOrder-Icon.png" height="30" alt="Cancel"></button>
                </div>
            }
            else
            {
                <div class="col-lg-3">
                    <button class="btn btn-lg px-3 btn-green" onclick="ConfirmaCancela()">Cancelar<img src="~/Content/Img/CancelOrder-Icon.png" height="30" alt="Cancel"></button>
                </div>
            }
        }

    </div>
</div>


<!-- Modal Preparar -->
<div class="modal fade" id="PrepararModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#A3BD31;color:white;font-size:25px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Preparar Pedido</h4>
            </div>
            <div class="modal-body" id="BodyPreparar">
                <h4 style="text-align:center;"><img style="margin-right:5px;" src="~/Content/Img/Alert.png" />¿Desea comenzar con la preparación del pedido?</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-green" style="width:40px;height:35px;" onclick="Preparar()">Sí</a>
                <a class="btn btn-green" style="width:40px;height:35px;" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Preparado -->
<div class="modal fade" id="PreparadoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#A3BD31;color:white;font-size:25px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pedido Preparado</h4>
            </div>
            <div class="modal-body" id="BodyPreparado">
                <h4 style="text-align:center;"><img style="margin-right:5px;" src="~/Content/Img/Alert.png" />¿Desea cerrar la preparación del pedido?</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-green" style="width:40px;height:35px;" onclick="Preparado()">Sí</a>
                <a class="btn btn-green" style="width:40px;height:35px;" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Entregado -->
<div class="modal fade" id="EntregadoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#A3BD31;color:white;font-size:25px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pedido Entregado</h4>
            </div>
            <div class="modal-body" id="BodyEntregado">
                <h4 style="text-align:center;"><img style="margin-right:5px;" src="~/Content/Img/Alert.png" />¿Desea pasar a "Entregado" el pedido?</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-green" style="width:40px;height:35px;" onclick="Entregado()">Sí</a>
                <a class="btn btn-green" style="width:40px;height:35px;" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cancelado -->
<div class="modal fade" id="CanceladoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#A3BD31;color:white;font-size:25px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cancelar</h4>
            </div>
            <div class="modal-body" id="BodyCancelado">
                <h4 style="text-align:center;"><img style="margin-right:5px;" src="~/Content/Img/Alert.png" />¿Desea cancelar el pedido?</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-green" style="width:40px;height:35px;" onclick="MotivoCancela()">Sí</a>
                <a class="btn btn-green" style="width:40px;height:35px;" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cancelado -->
<div class="modal fade" id="MotivoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#A3BD31;color:white;font-size:25px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Motivo Cancelación</h4>
            </div>
            <div class="modal-body" id="BodyMotivo">
                <input type="text" id="Motivo" class="form-control" placeholder="Motivo">
            </div>
            <div class="modal-footer">
                <a class="btn btn-green" style="width:100px;height:35px;" onclick="Cancelado()">Aceptar</a>
                <a class="btn btn-green" style="width:100px;height:35px;" data-dismiss="modal">Cancelar</a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function ConfirmaPreparar() {
            $("#PrepararModal").modal("show");
        }

        function ConfirmaPreparado() {
            $("#PreparadoModal").modal("show");
        }

        function ConfirmaEntregado() {
            $("#EntregadoModal").modal("show");
        }

        function ConfirmaCancela() {
            $("#CanceladoModal").modal("show");
        }

        function MotivoCancela() {
            $("#CanceladoModal").modal("hide");
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $("#MotivoModal").modal("show");
        }

        function Preparar() {
            var motivo = '';
            $.ajax({
                type: "POST",
                url: "/Comercio/AdministrarEstados",
                data: { pIdNotaPedido: @Model.Id, pAccion: 1, motivo },
                success: function () {
                    $("#PrepararModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                },
                complete: function () {
                    location.reload();
                }
            })
        }

        function Preparado() {
            var motivo = '';
            $.ajax({
                type: "POST",
                url: "/Comercio/AdministrarEstados",
                data: { pIdNotaPedido: @Model.Id, pAccion: 2, motivo },
                success: function () {
                    $("#PreparadoModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                },
                complete: function () {
                    location.reload();
                }
            })
        }

        function Entregado() {
            var motivo = '';
            $.ajax({
                type: "POST",
                url: "/Comercio/AdministrarEstados",
                data: { pIdNotaPedido: @Model.Id, pAccion: 3, motivo},
                success: function () {
                    $("#EntregadoModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                },
                complete: function () {
                    location.reload();
                }
            })
        }

        function Cancelado() {
            var motivo = document.getElementById("Motivo").value;
            $.ajax({
                type: "POST",
                url: "/Comercio/AdministrarEstados",
                data: { pIdNotaPedido: @Model.Id, pAccion: 4, pComentario: motivo },
                success: function () {
                    $("#PreparadoModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                },
                complete: function () {
                    location.reload();
                }
            })
        }
    </script>
}

