@model List<StillFood.Models.Categoria>

<div class="row">
    <div class="tit-admin">Categorías</div>
</div>
<div class="row">
    <input type="hidden" id="IdCategoria" />
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
        <a class="btn btn-success"  data-toggle="tooltip" title="Agregar" onclick="AgregarEditarCategoria(0)"><i class="glyphicon glyphicon-plus"></i></a>
        <div class="table-responsive">
            <table id="tblCategorias" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Activo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var wCategoria in Model)
            {
                        <tr>
                            @if (wCategoria.Activo)
                            {
                                <td>@wCategoria.Id</td>
                                <td>@wCategoria.Nombre</td>
                                <td>Sí</td>
                            }
                            else
                            {
                                <td style="background-color:#F5A9A9;">@wCategoria.Id</td>
                                <td style="background-color:#F5A9A9;">@wCategoria.Nombre</td>
                                <td style="background-color:#F5A9A9;">No</td>
                            }
                            <td style="text-align:center;">
                            <a class="btn btn-info" style="margin-left:5px;"  data-toggle="tooltip" title="Editar" onclick="AgregarEditarCategoria(@wCategoria.Id)"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a class="btn btn-danger" style="margin-left:5px;"  data-toggle="tooltip" title="Eliminar" onclick="ConfirmaEliminaCat(@wCategoria.Id)"><i class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal Alta/Edicion -->
<div class="modal fade" id="NuevoModalCat" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#A3BD31;color:white;font-size:25px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Categoría</h4>
            </div>
            <div class="modal-body" id="BodyNuevoCat">
            </div>
            <div class="modal-footer">
                <a class="btn btn-green" onclick="SubmitCategoria()">Guardar</a>
                <a class="btn btn-green" data-dismiss="modal">Cancelar</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminacion -->
<div class="modal fade" id="EliminaModalCat" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FE2E2E;color:white;font-size:25px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar Categoría</h4>
            </div>
            <div class="modal-body" id="BodyEliminaCat">
                <h4 style="text-align:center;"><img style="margin-right:5px;" src="~/Content/Img/Alert.png" />¿Está seguro que desea deshabilitar el registro seleccionado?</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-green" style="width:40px;height:35px;" onclick="EliminarCategoria()">Sí</a>
                <a class="btn btn-green" style="width:40px;height:35px;" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</div>
